@import url("../../layouts/dashboard.layout.css");

/* ── Columns ── */
.col-roles {
  inline-size: 18%;
}

.col-date {
  inline-size: 24%;
}

/* ── Roles ── */
.role-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--size-1);
}

.role-tag {
  padding: 2px var(--size-2);
  border-radius: var(--radius-2);
  color: var(--text-2);
  background-color: var(--surface-3);
}
