@import url("_theme.css");
@import url("../shared/components/breadcrumbs.component.css");
@import url("../shared/components/sidebar.component.css");

body {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--topbar-height) 1fr;

  height: 100dvh;

  background: var(--surface-0, var(--gray-10));
}

/* ── Topbar ── */
header.topbar {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 1;
  gap: var(--size-3);
  align-items: center;

  padding-inline: var(--size-4);
  border-bottom: var(--border-size-1) solid var(--border);

  background: var(--surface-1);
}

/* ── App content area ── */
.app-container {
  overflow-y: auto;
  grid-column: 1;
  grid-row: 2;
}

section {
  display: grid;
  gap: var(--size-4);
  padding-block: var(--size-4);
}
