@import url("open-props/style");
@import url("open-props/normalize");
@import url("open-props/buttons");
@import url("_icons.css");
@import url("_button.css");
@import url("../shared/components/breadcrumbs.component.css");
@import url("../shared/components/sidebar.component.css");

.app-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-container > * {
  padding-inline: var(--size-6);
}

.app-container > header {
  display: flex;
  gap: var(--size-3);
  align-items: center;

  padding-block: var(--size-3);
  border-bottom: var(--border-size-1) solid var(--surface-3);
}

.app-container > main {
  padding-block: var(--size-3);
}

section {
  display: grid;
  gap: var(--size-4);
  padding-block: var(--size-4);
}

.danger {
  color: var(--red-5);
}

@media (width <= 768px) {
  .app-container > * {
    padding-inline: var(--size-3);
  }

  .app-container > main {
    padding-block: var(--size-3);
    padding-inline: var(--size-3);
  }

  section {
    gap: var(--size-3);
    padding-block: var(--size-2);
  }

  .app-container > header {
    padding-block: var(--size-2);
  }
}
