@import "_icons.css";
@import "_button.css";
@import "../shared/components/breadcrumbs.component.css";
@import "../shared/components/sidebar.component.css";

.app-container > * {
  padding-inline: var(--size-6);
}

.app-container > header {
  display: flex;
  align-items: center;
  gap: var(--size-3);

  padding-block: var(--size-3);
  border-bottom: var(--border-size-1) solid var(--surface-3);
}

.app-container > main {
  padding-block: var(--size-3);
}

section {
  display: grid;
  gap: var(--size-4);
  padding-block: var(--size-4);
}

.danger {
  color: var(--red-5);
}

@media (max-width: 768px) {
  .app-container > * {
    padding-inline: var(--size-3);
  }

  .app-container > main {
    padding-block: var(--size-3);
    padding-inline: var(--size-3);
  }

  section {
    padding-block: var(--size-2);
    gap: var(--size-3);
  }

  .app-container > header {
    padding-block: var(--size-2);
  }
}
