@import url("../../layouts/dashboard.layout.css");
@import url("../../shared/macros/form.macros.css");
@import url("media-form.macros.css");

main {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-5);
}

main > form > fieldset,
main > form > section {
  animation: var(--animation-reveal);
}
