form {
    display: grid;
    gap: var(--size-3);
}

form footer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
    justify-content: end;
}

form .field {
    display: grid;
    gap: var(--size-2);
}

form .field label {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);
}

form .field :is(input, textarea) {
    padding: var(--size-2) var(--size-3);
    border: var(--border-size-1) solid var(--gray-7);
    border-radius: var(--radius-2);

    color: var(--text-1);

    background: color-mix(in srgb, var(--gray-8), var(--gray-9));

    transition: all .2s var(--ease-out-3);
}

form .field input:focus {
    border-color: var(--gray-2);
    box-shadow: var(--shadow-3);
}

fieldset {
    display: grid;
    gap: var(--size-3);

    padding-block: var(--size-5);
    padding-inline: var(--size-5);
    border: var(--border-size-1) solid var(--gray-7);

    background: color-mix(in srgb, var(--gray-9), var(--gray-10));
}

fieldset legend {
    font-weight: var(--font-weight-7);
    color: var(--gray-5);
}

label.checkbox {
  cursor: pointer;

  display: flex;
  gap: var(--size-3);
  align-items: center;

  height: var(--size-8);
}
