form {
  display: grid;
  gap: var(--size-3);
}

form footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  justify-content: end;
}

form .field {
  display: grid;
  gap: var(--size-2);
}

form .field label {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
  color: var(--text-2);
}

form .field :is(input, textarea) {
  padding: var(--size-2) var(--size-3);
  border: var(--border-size-1) solid var(--surface-3);
  border-radius: var(--radius-2);

  font-family: inherit;
  font-size: var(--font-size-1);
  color: var(--text-1);

  background: var(--surface-2);

  transition: border-color 0.2s var(--ease-out-3), box-shadow 0.2s var(--ease-out-3);
}

form .field :is(input, textarea):focus {
  border-color: var(--accent);
  outline: none;
  box-shadow: 0 0 0 3px var(--accent-softer);
}

fieldset {
  display: grid;
  gap: var(--size-3);

  padding-block: var(--size-5);
  padding-inline: var(--size-5);
  border: var(--border-size-1) solid var(--surface-3);

  background: var(--surface-1);
}

fieldset legend {
  font-weight: var(--font-weight-7);
  color: var(--text-2);
}

label.checkbox {
  cursor: pointer;

  display: flex;
  gap: var(--size-3);
  align-items: center;

  height: var(--size-8);
}
