.breadcrumbs {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: var(--size-2);
    font-size: var(--font-size-1);
}

.breadcrumbs .root {
    color: var(--gray-6);
}

.breadcrumbs .sep {
    color: var(--gray-8);
}

.breadcrumbs .page {
    color: var(--gray-3);
    font-weight: var(--font-weight-5);
}
